html {
      background: #018DED url(http://i.imgur.com/b9r5sEL.jpg);
      background-size: cover;
      font-family: 'helvetica neue';
      text-align: center;
      font-size: 10px;
    }
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.btn-primary {
    color: #fff;
    background: #64518A;
    border: 1px solid #64518A;
    margin-left: 12px;
}