.table {
    width: 60%;
    margin-bottom: 1px;
    padding: 20px 20px;
    align-items: center;
    float: center;
}

.topnav {
  background-color: #64518A;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #64518A;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #64518A;
  color: white;
}
.topnavuploaded {
  background-color: #64518D;
  overflow: hidden;
}
.topnavuploaded a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnavuploaded a:hover {
  background-color: #64518D;
  color: black;
}

/* Add a color to the active/current link */
.topnavuploaded a.active {
  background-color: #64518D;
  color: white;
}


.topnavprocessed {
  background-color: #64519F;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnavprocessed a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnavprocessed a:hover {
  background-color: #64519F;
  color: black;
}

/* Add a color to the active/current link */
.topnavprocessed a.active {
  background-color: #64519F;
  color: white;
}

.form-wrapper {
  padding: 10px 10px 10px 10px
  margin-left:10px;
}
.uploadedcsv {
  padding: 10px 200px 0px 200px;
  border: thick;
  float: center;
  color: #696969;;
}

.lk-content{
  padding: 10px 10px 1px 10px;
  border: thin;
  float: center;
  color: #64518A;;
}
.checkbox input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* style the "fake" checkbox */

.checkbox-value {
  background-color: #ddd;
  border: 0.0625em solid #bbb;
  border-radius: 0.75em;
  box-shadow: inset 0 0.0625em 0 0.0625em rgba(0,0,0,0.075);
  display: inline-block;
  height: 1.5em;
  margin: 0 0.75em;
  position: relative;
  transition: all 120ms;
  vertical-align: -0.5em;
  width: 2.5em;
}

.checkbox-value::before {
  background-color: #fff;
  border: 0.0625em solid;
  border-color: inherit;
  border-radius: 50%;
  box-shadow: 0 0.0625em 0 0.0625em rgba(0,0,0,0.075);
  content: '';
  display: block;
  height: 1.625em;
  left: 25%;
  margin-left: -0.9375em;
  margin-top: -0.125em;
  position: absolute;
  top: 0;
  transition: all 120ms ease-in;
  width: 1.625em;
}

input:checked + .checkbox-value {
  background-color: #64518D;
  border-color: #169a9a;
}

input:checked + .checkbox-value::before {
  left: 75%;
}

.txtin {
    display: block;
    width: 25%;
    background: transparent;
    font-family: JosefinSans-Bold;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.5;
    display: inline-flex;
}


/*.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}*/

.upload-btn-wrapper  {
  color: #64518A;
}
select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}



body#lk-layout-simple {
    background-color: #2e343f;
    color: white;
    height: auto;
    text-align: center;
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 12px;
    background: #2e343f;

}

#lk-layout-simple-header {
    text-align: center;
    margin-bottom: 40px;
}
.lk-simple-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 20px;
}

th, td {
  text-align: center;
  padding: 1px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.btn {
    color: #fff;
    background: #64518A;
    border: 2px solid #64518A;
    border-radius:4px;
    margin-left: 12px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}