.table {
    width: 60%;
    margin-bottom: 1px;
    align-items: center;
    float: center;
}

.topnav {
  background-color: #64518A;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #64518A;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #64518A;
  color: white;
}

/*.table.table-striped th, .looker-flavored-markdown table.table-striped:not(.lk-vis-table) th {
    background: transparent;
    color: #696969;
    border-bottom: 1px solid #e4e5e6;
    margin-bottom: 10px;
    border-spacing: 0;
}*/

body {
  text-align: center;
  background: #fff;
  color: #a2a3a4;
  font-family: "Open Sans","Noto Sans JP","Noto Sans","Noto Sans CJK KR",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 12px;
}

th, td {
  text-align: center;
  padding: 1px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.btn-primary {
    color: #fff;
    background: #64518A;
    border: 1px solid #64518A;
    margin-left: 12px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}