<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">

</script>
{% extends 'upload.html' %}

{% block head %}

<head>	
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
{% endblock %}

{% block topbar %}
<div class="topnav">
  <a class="active" href="/">Watterson</a>
  <a class="active" >CSV Processed. Good Job.</a>
</div>
{% endblock %}

</head>

{% block main %}
<h1>Summary</h1>
<div class="output">
	<div class = "groups">
		<h2> Groups Created:</h2>
	<ul>{% for group in groups %}
		<li> {{ group }}</li>
		{% endfor %}
	</ul>
	</div>

	<div class="users">
		<h2> Users Created:</h2>

	<ul>{% for user in users %}
		<li> {{ user }}</li>
		{% endfor %}
	</ul>
	</div>

	<div class="userattributes">
		<h2> User Attributes Created:</h2>
		<li> {{ ua }}</li>

	</div>
</div>
{% endblock %}
<body>
</body>
</html>