<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">

</script>
{% extends 'upload.html' %}

{% block head %}

<head>	
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
{% endblock %}

{% block topbar %}
<div class="topnav">
  <a class="active" href="/">Watterson</a>
  <a class="active" >CSV Processed. Good Job.</a>
</div>
{% endblock %}

</head>

{% block main %}
<h1>Summary</h1>

{{ groups | safe }}
{% endblock %}

<body>
</body>
</html>