<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>	
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
{% endblock %}
<body>

{% block topbar %}
<div class="main">
	<div class="topnav">
	  <a class="active" href="/">Watterson</a>
	  <a class="active" >A CSV upload page for Looker user management</a>
	</div>
	{% endblock %}
<div class="title">
	<h1>Overview</h1>
	<p>Watterson is a basic CSV upload tool that allows you to bulk manage users and groups outside of your Looker interface.<p>
	
</div>
<hr>

	{% block main %}
	<div class="formwrapper">
		 <div class="instructions">
				<p>Choose a CSV file that is populated with User, Group and User Attribute information for processing</p>

			</div>
		<form method=post action="" enctype=multipart/form-data>
		    <div class="upload-btn-wrapper">
		    	<input  type=file name=file>
		    </div>
		    <div class="instructions">
				<p>Enter the URL of your Looker host as well as your API credentials (Client ID and Client Secret)</p>

			</div>
		    <label class="hostlabel">
				<h2>Host:</h2>
			</label>
			<div class="hostinput">
				<input class="txtin" type="text" name="host">
			</div>
			<label class="clientlabel">
			<h2>Client ID:</h2>
			</label>
			<div class="clientinput">
				<input class="txtin" type="password" name="clientid">
			</div>
			<label class="label">	
			<h2>Client Secret:</h2>
			</label>
			<div class="secretinput">			
				<input class="txtin" type="password" name="clientsecret">
			</div>
			<br>
			<div class="upload-btn-wrapper">
		 		   	<button class="btn">Upload</button>
		    </div>

	</form>
	</div>
</div>

<br>
{% endblock %}

{% block tablesummary %}

{% endblock %}



</body>
</html>