<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>	
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
{% endblock %}
<body>

{% block topbar %}
<div class="topnav">
  <a class="active" href="/">Watterson</a>
  <a class="active" >A CSV upload page for Looker user management</a>
</div>
{% endblock %}

{% block main %}
<form method=post action="" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit class ="btn btn-primary" name="action" value="Upload">
</form>

<div id="auth">
	<form >
	  Host:<br>
	  <input type="text" name="host">
	  <br>
	  Client ID:<br>
	  <input type="text" name="clientid">
	  <br>
	  Client Secret:<br>
	  <input type="text" name="clientsecret">
	</form> 
</div>
<br>
<br>

<br>
{% endblock %}

{% block tablesummary %}

{% endblock %}



</body>
</html>