<!DOCTYPE html>
<html lang="en">
{% extends 'upload.html' %}
{% block head %}
<head>	
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript">
	function conf()
	{
	var con=confirm("Processing the file will send API calls to Looker to create Groups, Users and User Attributes. This will potentially overwrite what currently exists. Are you sure you want to proceed?")
	if (con)
		return true;
	else
		return false;;
	}
</script>
</head>
{% endblock %}
<body>

{% block topbar %}
<div class="topnav">
  <a class="active" href="/">Watterson</a>
  <a class="active" >CSV Uploaded</a>
</div>
{% endblock %}

{% block main %}


<div class="form-wrapper">
	<div class="uploadedcsv">
	<label class="edit-options-label">
		<h3>User Edit Options: </h3>
		<span class="sublabel">
			<p>For each of the columns in the CSV you uploaded, you have a number of selection criteria. 
			For columns such as 'Teams' or 'Offices', these are typically Groups created for organisational purposes. 
			For columns such as 'Region' or 'Access', these are commonly used for User Attributes. </p>
		</span>
	</label>
		<div class="lk-content">
			<table class="table table-striped users-table" style="float: center">
				<thead>
					<th>Field Name</th>
					<th>Create As</th>
					<th>Default Value</th>
					<th>Add All Users to Group?</th>
					<th>Assign All Users Default value</th>
				</thead>
			<tbody>
	<!-- For every header in the spreadsheet, create a row with checkboxes and buttons, using Jinja's loop.index to make sure we can granularly control selections between each  -->
		<form  method=POST action="">
		{% for header in columns %}
		<div class="processingoptions">
		  	<tr>
		  		<td>
		  			<input type="text" name="fieldname{{loop.index}}" id="fieldname{{loop.index}}" size="15" value={{header}} >
		  		</td>

				<td>
					<select class="select-css" name="ftype{{loop.index}}" id="ftype{{loop.index}}" onchange="disableText()">
						<option value="">Select</option>
						<option value="UA">User Attribute</option>
						<option value="GRP">Group</option>
						<option value="Both">Both</option>
					</select>
		  		</td>

		  		<td><input type="text" name="uadefault{{loop.index}}" id="uadefault{{loop.index}}" size="15" title="User Attribute default value"></td>
				
				<td>
					<label>
					<span class="checkbox"> 
						<input type="checkbox" name="chkcreategroup{{loop.index}}" id="chkcreategroup{{loop.index}}" value="Y" onclick="if(this.checked)document.getElementById('chkcreateuseratt{{loop.index}}').checked=false">
						<span class="checkbox-value" aria-hidden="true"></span>
					</span>
				</label>
				</td>
				
				<td>
					<label>
						<span class="checkbox"> 
							<input  type="checkbox" name="chkcreateuseratt{{loop.index}}" id="chkcreateuseratt{{loop.index}}" value="Y" onclick="if(this.checked)document.getElementById('chkcreategroup{{loop.index}}').checked=false">
							<span class="checkbox-value" aria-hidden="true"></span>
						</span>
					</label>
				</td>


			</tr>
		</div>
		{% endfor %}
				<input type=submit class="btn btn-primary" action="/process/{{filename}}" name="action" value="Process File" onClick="conf()">
				</form>
			</tbody>
		</table>
		</div>
	</div>
</div>



<br>
{% endblock %}
{% block tablesummary %}
<h3>Uploaded data:</h3>
<div id="pandastable">
		{{ table | safe }}
</div>
{% endblock %}


</body>
</html>